body {
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: orange;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    color: black;
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
    border-style: ridge;
    border-width: 5px;
    border-color: white;
}

p {
    color: white;
}

ol {
    color: white;
}

ul {
    color: white;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

.left {
    display: block;
    margin-left: 0%;
    width: 50%;
}

.right {
    display: block;
    margin-left: 50%;
    width: 50%;
}